<h2 class="modal-title">New IWAD</h2>
<div class="modal-content">
    <label for="iwad-name-txt">Name</label>
    <input id="iwad-name-txt" type="text" />
    <label for="iwad-file-txt">File</label>
    <div id="iwad-file-txt-wrapper">
        <input id="iwad-file-txt" type="text" />
        <button type="button">Choose file...</button>
    </div>
</div>
<div class="modal-buttons">
    <button type="button" disabled>Create</button>
    <button type="button" onmousedown="closeAddIWADModal()">Cancel</button>
</div>
