<dialog id="add-iwad-dialog">
    <h2 class="modal-title">New IWAD</h2>
    <form autocomplete="off" onsubmit="addIWADModal.submit(event)">
        <div class="modal-content">
            <div class="label">Name</div>
            <input id="iwad-name-txt" type="text" oninput="validateAddIWADForm()" autofocus />
            <div class="label">File</div>
            <div id="iwad-file-txt-wrapper">
                <input id="iwad-file-txt" type="text" oninput="validateAddIWADForm()" />
                <button type="button" class="btn-transparent" title="Choose file" onmousedown="selectIWADFile()">
                    📂
                </button>
            </div>
        </div>
        <div class="modal-buttons contrast">
            <button id="iwad-submit" type="submit" disabled>Create</button>
            <button type="button" onmousedown="addIWADModal.close()">Cancel</button>
        </div>
    </form>
</dialog>
