{{template "navbar" "iwads"}}
{{template "main-content" .}}

{{define "page-content"}}
<div id="iwad-list">
    <p>Wads</p>
    <div class="iwad-item iwad-adder">
        <div class="iwad-info">
            <p class="iwad-title">Add a new IWAD</p>
            <button onmousedown="openAddIWADModal()">Add</button>
        </div>
    </div>
    {{range .IWADs}}
    <div class="iwad-item">
        <div class="iwad-info">
            <p class="iwad-title">{{.Name}}</p>
            <p class="iwad-description">{{.Path}}</p>
        </div>
    </div>
    {{end}}
</div>
{{end}}
{{template "modal" .}}

{{define "modal-title"}}New IWAD{{end}}

{{define "modal-content"}}
<label for="iwad-name-txt">Name</label>
<input id="iwad-name-txt" type="text" />
<label for="iwad-file-txt">File</label>
<div id="iwad-file-txt-wrapper">
    <input id="iwad-file-txt" type="text" />
    <button type="button">Choose file...</button>
</div>
{{end}}

{{define "modal-buttons"}}
<button type="button" disabled>Create</button>
<button type="button" onmousedown="closeAddIWADModal()">Cancel</button>
{{end}}
