{{define "navbar"}}
<nav id="navbar">
    <button
        id="nav-home"
        type="button"
        {{if eq . "home"}}class="selected"{{end}}
        onmousedown="navigateToHome()"
    >
        🏠 Home
    </button>
    <button
        id="nav-engines"
        type="button"
        {{if eq . "engines"}}class="selected"{{end}}
        onmousedown="navigateToEngines()"
    >
        💻 Engines
    </button>
    <button
        id="nav-iwads"
        type="button"
        {{if eq . "iwads"}}class="selected"{{end}}
        onmousedown="navigateToIWADs()"
    >
        🎮 IWADs
    </button>
</nav>
{{end}}
