#app {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#side-nav {
    height: 100vh;
    min-width: 280px;
    padding: 0 14px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#side-nav button {
    border: none;
    color: white;
    background-color: transparent;
    text-align: left;
    text-wrap: nowrap;
    padding: 10px;
    border-radius: 4px;
}

#side-nav button:hover {
    background: rgba(255, 255, 255, 0.2);
}

#side-nav .selected {
    background: rgba(255, 255, 255, 0.1);
}

#main-content {
    color: white;
}